
<form class="form-inline">
    <input type="button" class="btn btn-outline-primary btn-sm mb-2 ml-2 form-control" (click)="fnActivarBoton()" [value]="nombreBoton">
</form>
<div class="card formulario" [ngStyle]="{'display' : display}" style="margin-top: 3% !important;">
	<form [formGroup]="registerForm" (ngSubmit)="createUser(registerForm.value)" class="col-md-12 mt-3" action="">
		<div class="card-body">
			<h5 class="card-title">Nuevo Usuario</h5>
			<hr>
			<div class="form-row mt-3">
	    		<div class=" offset-md-1 col-md-3 mb-4">
					<input type="text"  formControlName="nombre"  class="form-control" placeholder="Name" required>
	    		</div>
		    	<div class="offset-md-1 col-md-3 mb-4">
			    	<input type="text"  formControlName="email" class="form-control" placeholder="Username" required>
			    	<span class=" mt-2" *ngIf="registerForm.controls['email']?.touched && registerForm.controls['email'].hasError('required')"><font size="1" class="alert alert-danger mt-2">El email no puede estar vacío</font></span>
		    	</div>
		    	<div class="offset-md-1 col-md-3 mb-4">
					<input class="form-control" type="password" formControlName="password" placeholder="Password" required>
					<span class=" mt-2" *ngIf="registerForm.controls['password']?.touched  && registerForm.controls['password'].hasError('minlength')"><font size="1" class="alert alert-danger">El password debe tener al menos 5 caracteres</font></span>
				</div>
				<div style="width: 100%;">
					<button class="btn btn-primary btn-sm float-right mr-1" type="submit">Guardar</button>
				</div>
			</div>
		
		</div>
	</form>
</div>

<!-- 

<div *ngIf="password.invalid && password.touched)"
    				class="alert alert-danger"></div>
					  <div *ngIf="name.errors.required">
    					Pass tiene poco is required.
  					</div>
  					<div *ngIf="password.errors.minlength">
    					Name must be at least 4 characters long.
  					</div>
-->