<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['/lista']">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>

	<span class="navbar-text">
		<a class="navbar-brand">
        <img src="/assets/img/user.jpg" width="30" height="30" class="align-top rounded" alt="imagen user">
    	</a>
	</span>
	<span class="nav-item active mr-3">
    	<a class="nav-text admin-word">Administrator</a>
	</span>
  </div>
</nav>